#navBarDiv {
    width: 50%;
    margin: auto;
    list-style: none;
    display: flex;
    background: lightgrey;
}

html, body {
    width: 100%;
    height: 100%;
}

nav div ul li a img{
    display: block;
    height: 25px;
}

nav div ul li img{
    display: block;
    height: 15px;
}

nav div ul li {
    display: table-cell;
    text-align: center;
}
    

/*
nav div ul {
    display: block;
    list-style: none;
    background: lightgrey;
}

nav div ul li {
    display: table-cell;
    text-align: center;
    padding-right: 10px;
}
nav div ul li a {
    display: block;
}

nav div ul li a img{
    display: block;
    height: 25px;
}

nav div ul li img{
    display: block;
    height: 15px;
}
*/